@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: 'Outfit', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.outfit {
    font-family: 'Funnel Sans', sans-serif;
    font-weight: 800;
}

.funnel {
  font-family: 'Funnel Sans', sans-serif;
  font-weight: 800;
}

.faculty {
  font-family: 'Faculty Glyphic', sans-serif;
}

/* hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
  /* text-decoration: line-through; */
}
