@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

* {
    font-family: 'Quicksand', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.outfit {
    font-family: 'outfit', sans-serif;
}

/* hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
  /* text-decoration: line-through; */
}
